Repository paulahemsi/minishell, pull requests merged in 2021-07, with the labels that each got.

#33 Include readline library function
  Makefile
  includes/input.h
  sources/system/minishell.c
  sources/system/prompt.c
Labels: input

#45 Signal handler
  CHANGELOG.md
  includes/input.h
  sources/system/minishell.c
  sources/system/signals.c
Labels: signal

#56 get_absolute_path() + variadic_strjoin()
  CHANGELOG.md
  includes/minishell.h
  sources/builtins/variadic_strjoin.c
  sources/exec/path.c
  sources/system/minishell.c
Labels: exec, nice to have, setup

#57 Refactor prompt
  CHANGELOG.md
  includes/input.h
  sources/system/prompt.c
Labels: input

#58 Norme compliant.
  includes/minishell.h
  includes/tokenizer.h
  sources/builtins/2d_array_utils.c
  sources/builtins/env_to_hashmap.c
  sources/builtins/export.c
  sources/builtins/hashmap_to_env.c
  sources/builtins/hashmap_to_env_with_quotes.c
  sources/builtins/print_environment.c
  sources/builtins/quick_sort_2d_array.c
  sources/exec/path.c
  sources/system/minishell.c
  sources/system/signals.c
Labels: setup

#62 Implement pwd builtin
  CHANGELOG.md
  includes/builtin.h
  sources/builtins/pwd.c
  sources/system/minishell.c
Labels: built-in

#66 Added cd builtin function
  CHANGELOG.md
  includes/builtin.h
  includes/error.h
  includes/minishell.h
  sources/builtins/cd.c
  sources/system/minishell.c
Labels: built-in

#71 Command exec
  CHANGELOG.md
  includes/minishell.h
  includes/parser.h
  sources/exec/path.c
  sources/parser/command_parser.c
  sources/parser/parse_command.c
  sources/system/minishell.c
Labels: exec

#76 Pipe checker
  CHANGELOG.md
  includes/minishell.h
  includes/parser.h
  sources/exec/execute_command.c
  sources/parser/command_parser.c
  sources/parser/process_parser.c
  sources/system/minishell.c
Labels: pipe

#88 Signal handler
  CHANGELOG.md
  sources/exec/execute_command.c
  sources/system/signals.c
  sources/tokenizer/tokenizer.c
Labels: signal

#92 Implement redirects
  CHANGELOG.md
  includes/minishell.h
  includes/parser.h
  sources/parser/command_parser.c
  sources/parser/redirect_parser.c
Labels: redirect

#93 Error status
  CHANGELOG.md
  includes/minishell.h
  sources/builtins/cd.c
  sources/builtins/pwd.c
  sources/exec/execute_command.c
  sources/parser/command_parser.c
  sources/parser/redirect_parser.c
  sources/system/minishell.c
  sources/system/prompt.c
  sources/system/signals.c
  sources/tokenizer/variables_expansion.c
Labels: built-in, error handler, exec, expansion

#94 variables improvements
  CHANGELOG.md
  includes/builtin.h
  includes/tokenizer.h
  sources/builtins/echo.c
  sources/builtins/export.c
  sources/builtins/set_local_variable.c
  sources/exec/execute_command.c
  sources/parser/command_parser.c
  sources/tokenizer/define_type.c
  sources/tokenizer/variables_utils.c
Labels: expansion

#98 Correct leak and append operator
  includes/tokenizer.h
  sources/system/minishell.c
  sources/tokenizer/insert_spaces.c
  sources/tokenizer/tokenizer.c
Labels: bug

#103 Here document
  CHANGELOG.md
  sources/parser/here_document.c
  sources/parser/redirect_parser.c
  sources/tokenizer/define_type.c
Labels: redirect

#104 fixed memory leaks/oldpwd bug
  sources/builtins/cd.c
  sources/hashmap/hashmap_insert.c
Labels: bug, built-in

#105 Correct signals status
  sources/system/signals.c
Labels: signal

#107 Include redirect syntax parser
  includes/error.h
  includes/minishell.h
  includes/parser.h
  sources/exec/execute_command.c
  sources/parser/command_parser.c
  sources/parser/parse_command.c
Labels: bug, redirect

#109 calling a binary through absolute path now works
  sources/exec/execute_command.c
  sources/exec/path.c
Labels: bug, exec
