Repository paulahemsi/minishell, pull requests merged in 2021-08, with the labels that each got.

#126 Exit arguments
  includes/builtin.h
  includes/error.h
  sources/builtins/exit.c
  sources/builtins/exit_minishell.c
  sources/exec/execute_command.c
Labels: built-in

#122 Correct prompt bug (gambiarra)
  CHANGELOG.md
  includes/input.h
  includes/minishell.h
  sources/system/minishell.c
  sources/system/prompt.c
  sources/system/welcome
Labels: bug, input

#128 Bug signal e status
  includes/error.h
  sources/builtins/cd.c
  sources/builtins/echo.c
  sources/builtins/exit.c
  sources/builtins/export.c
  sources/builtins/print_environment.c
  sources/builtins/pwd.c
  sources/builtins/unset.c
  sources/exec/execute_command.c
  sources/parser/command_parser.c
  sources/parser/here_document.c
  sources/parser/redirect_parser.c
  sources/system/error.c
  sources/system/minishell.c
  sources/tokenizer/tokenizer.c
Labels: bug, error handler, signal

#129 Check if command is a executable
  sources/exec/path.c
Labels: bug, exec

#144 cd doesn't freak out about being homeless anymore.
  includes/error.h
  sources/builtins/cd.c
Labels: bug
